<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624095060474-o9gqbme53r2r4lf1cqv9grj0g86ojo50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624095060474-o9gqbme53r2r4lf1cqv9grj0g86ojo50</string>
	<key>API_KEY</key>
	<string>AIzaSyCkT-Z8FpTAmTLqLwJ3xdZUmEV5X4Vmrdc</string>
	<key>GCM_SENDER_ID</key>
	<string>624095060474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail-yuu99.331.ShisyutsuMemo</string>
	<key>PROJECT_ID</key>
	<string>shisyutsumemo</string>
	<key>STORAGE_BUCKET</key>
	<string>shisyutsumemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624095060474:ios:169eacc728ec6d4d6f4443</string>
</dict>
</plist>